{% extends 'web/index.html' %}

{% block tittle %} Nosotros {% endblock %}

{% block body %}
    <h2>Bienvenido a Ferremas</h2>
    <p>
        Somos una ferreteria con mas de 10 años de experiencia en la venta de materiales, herramientas, etc
    </p>
    <p>
        Nosotros estamos comprometidos, con la entrega de productos de calidad para nuestros clientes.
    </p>

    <h3>Nuestros Servicios</h3>
    <ul>
        <li>Venta de materiales de construccion</li>
        <li>Venta de herramientas manuales</li>
        <li>Venta de herramientas electricas</li>
        <li>Venta de suministros electricos</li>
        <li>Venta de suministros de plomeria</li>
        <li>Venta de pinturas</li>
        <li>Atencion al cliente</li>
        <li>Entrega a domilicio</li>
        <li>Entre otros</li>
    </ul>

    <h3>¿Porque elegir a nuestra ferreteria?</h3>
    <p>
        Nosotros somos una ferreteria que trabaja con productos de calidad y economicos, contamos con muchos servicios y distintos provedores de herramientas, si tienes alguna duda en como
        realizar una reparacion o construccion que tengas planteado, puedes cotizar el servicio de maestros que tenemos a disposicion. 
    </p>
{% endblock %}