{% extends "web/index.html" %}

{% block title %}Carrito de Compras{% endblock %}

{% block body %}
{% load static %}


<h1>Carrito de Compras</h1>

{% if Articulo %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre del Artículo</th>  
                <th>Precio</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for art in Articulo %}
            <tr>
                <td>{{ art.nombre }}</td>            
                <td>${{ art.precio }}</td>
            </tr>
            {% endfor %}
                <tr>
                <td colspan="3"><strong>Total:</strong></td>
                <td><strong>${{ total }}</strong></td>
                </tr>
            
    
        </tbody>
    </table>
    
    <form action="{% url 'eliminar_carrito' %}" method="post" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Vaciar Carrito</button>
    </form>
    <form action="{% url 'pagar' %}" method="post" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Comprar</button>
    </form>
{% else %}
    <p>No hay artículos en el carrito.</p>
{% endif %}

<a href="{% url 'tienda' %}" class="btn btn-primary">Volver a la Tienda</a>

{% endblock %}